<!DOCTYPE html>
<html>

<head>
    <title>My Blog</title>
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>

    <main>

        <h1>My Journey Forward</h1>

<p>2026-03-29</p>
<p>Syaza Awang Daud</p>

<hr>

<p>I will be writing my stuffs there for me to look back and keep track ! &lt;3</p>

<h2>Weekly posts:</h2>

<ul>
  <li><a href="week_7.html">Week 7: Deciding on Project</a></li>
  <li><a href="week_8.html">Week 8: Developing Wireframes</a></li>
   <li><a href="week_9.html">Week 9: Building the Trail Database</a></li>
    <li><a href="week_10.html">Week 10: Development and connecting database</a></li>
     <li><a href="week_11.html">Week 11:API integration and user testing</a></li>
</ul>

    </main>

</body>

</html>
